---
// src/pages/index.astro
import Terminal from '../components/Terminal.jsx';
import '../styles/terminal.css';
---

<html>
  <head>
    <title>Ismael | Software Engineer</title>
  </head>
  <body>
    <Terminal client:load/>
  </body>
</html>
